---
layout: page_large
title: Publications
permalink: /publications
---

<div style="text-align: center;">
  <br>
  <p>
    For a complete list, check 
    <a href="https://scholar.google.com/citations?user=zVQrkYUAAAAJ&hl=en">Google Scholar</a>.
  </p>
  <br>
</div>

<hr/>

{% for n in (2024..2025) reversed %}
  {% for pub in site.publications reversed %}
    {% if pub.year == n %}
      <div class="row col-lg-12">

        <!-- YEAR -->
        <div class="col-lg-1">
          <p>{% if pub.conf != "preprint" %} {{ pub.year }} {% endif %}</p>
        </div>

        <!-- CONF -->
        <div class="col-lg-2">
          <p style="text-align: right; color: #999999; font-style: italic;">{{ pub.conf }}</p>
        </div>

        <!-- TITLE -->
        <div class="col-lg-7">
          <p>{{ pub.title }}</p>

          <!-- Authors -->
          <p>
            {% for author in pub.authors %}
              {% if author == "Pushwitha Krishnappa" %}
                <b>{{ author }}</b>{% if forloop.last != true %},{% endif %}
              {% elsif author == "Pushwitha Krishnappa*" %}
                <b>{{ author }}</b>{% if forloop.last != true %},{% endif %}
              {% else %}
                <span>{{ author }}</span>{% if forloop.last != true %},{% endif %}
              {% endif %}
            {% endfor %}
          </p>

          <!-- Links -->
          <p>
            {% for link_content in pub.links %}
              <a href="{{ link_content.content }}">{{ link_content.name }}</a>{% if forloop.last != true %},&nbsp;{% endif %}
            {% endfor %}
          </p>
        </div>
      </div>

      <hr/>
    {% endif %}
  {% endfor %}
{% endfor %}
