<div class="row col-lg-12">
    <!--YEAR-->
    <div class="col-lg-1">
        <p>{% if pub.conf != "preprint" %} {{pub.year}} {% endif %}</p>
    </div>

    <!--CONF-->
    <div class="col-lg-2">
        <p style="text-align: right; color: #999999; font-style: italic">{{pub.conf}}</p>
    </div>

    <!--TITLE AND AUTHORS-->
    <div class="col-lg-7">
        <p>{{ pub.title }}</p>

        <!-- Authors with Flexbox for equal spacing -->
        <div style="display: flex; flex-wrap: wrap; gap: 10px;">
            {% for author in pub.authors %}
                {% if author == "Pushwitha Krishnappa" %}
                    <b>{{ author }}</b>{% if forloop.last != true %},{% endif %}
                {% else %}
                    {% if author == "Pushwitha Krishnappa*" %}
                        <b>{{ author }}</b>{% if forloop.last != true %},{% endif %}
                    {% else %}
                        <span>{{ author }}</span>{% if forloop.last != true %},{% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

        <!-- Links (e.g., Paper) -->
        <p style="display: block">
            {% for link_content in pub.links %}
                <a href="{{link_content.content}}" style="display: inline-block;">{{link_content.name}}</a>{% if forloop.last != true %},&nbsp;{% endif %}
            {% endfor %}
        </p>
    </div>

    <div class="col-lg-2 d-none d-xl-block" style="text-align:center;">
        <img src="{{ site.baseurl }}/images/paper_teasers/{{pub.name_file}}.png" style="display: inline-flex; max-width: 175px; margin-bottom: 20px;" />
    </div>
</div>

<hr>
