<section class="section skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <div class="skillz">
      <div class="skillz__category">
        <div class="skillz__category__label">Languages</div>
        <ul>
          {% for language in site.data.skills.languages %}
          <li class="skillz__category__item">{{ language.item }}</li>
          {% endfor %}
        </ul>
      </div>
      
      <div class="skillz__category">
        <div class="skillz__category__label">ML Tools</div>
        <ul>
          {% for tool in site.data.skills.ml_tools %}
          <li class="skillz__category__item">{{ tool.item }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="skillz__category">
        <div class="skillz__category__label">NLP</div>
        <ul>
          {% for nlp_tool in site.data.skills.nlp %}
          <li class="skillz__category__item">{{ nlp_tool.item }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="skillz__category">
        <div class="skillz__category__label">Data Visualization</div>
        <ul>
          {% for viz_tool in site.data.skills.data_visualization %}
          <li class="skillz__category__item">{{ viz_tool.item }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="skillz__category">
        <div class="skillz__category__label">IDEs</div>
        <ul>
          {% for ide in site.data.skills.ides %}
          <li class="skillz__category__item">{{ ide.item }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="skillz__category">
        <div class="skillz__category__label">Cloud Services</div>
        <ul>
          {% for cloud_service in site.data.skills.cloud_services %}
          <li class="skillz__category__item">{{ cloud_service.item }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="skillz__category">
        <div class="skillz__category__label">Version Control System</div>
        <ul>
          {% for vcs in site.data.skills.version_control %}
          <li class="skillz__category__item">{{ vcs.item }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
