<section class="section skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <div class="skillz">
      <div class="skillz__category" style="margin-right: 30px;">
        <div class="skillz__category__label">Languages</div>
        <ul>
          {% for language in site.data.skills.Languages %}
          <li class="skillz__category__item">{{ language.item }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="skillz__category" style="margin-right: 30px;">
        <div class="skillz__category__label">ML & Data Science Tools</div>
        <ul>
          {% for tool in site.data.skills["ML & Data Science Tools"] %}
          <li class="skillz__category__item">{{ tool.item }}</li>
          {% endfor %}
        </ul>
      </div>

      <div class="skillz__category" style="margin-right: 30px;">
        <div class="skillz__category__label">IDEs</div>
        <ul>
          {% for ide in site.data.skills.IDEs %}
          <li class="skillz__category__item">{{ ide.item }}</li>
          {% endfor %}
        </ul>
      </div>

<!--       <div class="skillz__category" style="margin-right: 30px;">
        <div class="skillz__category__label">Cloud Services</div>
        <ul>
          {% for cloud_service in site.data.skills["Cloud Services"] %}
          <li class="skillz__category__item">{{ cloud_service.item }}</li>
          {% endfor %}
        </ul>
      </div> -->

      <div class="skillz__category" style="margin-right: 30px;">
        <div class="skillz__category__label">Version Control System</div>
        <ul>
          {% for vcs in site.data.skills["Version Control System"] %}
          <li class="skillz__category__item">{{ vcs.item }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
