<section class="section skills">
  <div class="section__title">Skills</div>
  <div class="section__content">
    <!-- <p>I’ve picked up quite a few skills during the course of my three co-ops, and aim to improve these skills everyday. Here are a few of the technologies that I have experience with:</p> -->
    <div class="skillz">
      <div class="skillz__category">
        <div class="skillz__category__label">Languages</div>
        <ul>
          {% for language in site.data.skills.languages %}
          <li class="skillz__category__item">{{language.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">ML-Tools</div>
        <ul>
          {% for framework in site.data.skills.frameworks %}
          <li class="skillz__category__item">{{ML-Tools.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">NLP</div>
        <ul>
          {% for tool in site.data.skills.tools %}
          <li class="skillz__category__item">{{NLP.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Data Visualization and Analysis</div>
        <ul>
          {% for thing in site.data.skills.design %}
          <li class="skillz__category__item">{{Data Visualization and Analysis.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">IDEs</div>
        <ul>
          {% for thing in site.data.skills.design %}
          <li class="skillz__category__item">{{IDEs.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Cloud Services</div>
        <ul>
          {% for thing in site.data.skills.design %}
          <li class="skillz__category__item">{{Cloud Services.item}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="skillz__category">
        <div class="skillz__category__label">Version Control System</div>
        <ul>
          {% for thing in site.data.skills.design %}
          <li class="skillz__category__item">{{Version Control System.item}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
